PC1[0]=LA

PC2[0]=LB

r1[0]=OA
r1[1]=OB
r1[2]=LA

r2[0]=OB
r2[1]=OC
r2[2]=OD
r2[3]=LB

PC3[0]=LC

PC4[0]=LD

PC5[0]=LE

PC6[0]=LF

PC7[0]=LH

PC8[0]=LG

r3[0]=OD
r3[1]=OE
r3[2]=IA

r4[0]=OE
r4[1]=OC
r4[2]=LC
r4[3]=OK

r5[0]=OC
r5[1]=OA
r5[2]=OH

r6[0]=IA

r7[0]=OF
r7[1]=OG
r7[2]=LD

r8[0]=OG
r8[1]=LE

r9[0]=LF
r9[1]=OJ

r10[0]=OI
r10[1]=OJ
r10[2]=OH	

r11[0]=OK
r11[1]=OM
r11[2]=OL

r12[0]=OL
r12[1]=ON
r12[3]=LH

r13[0]=OM
r13[1]=ON
r13[2]=LG
r13[3]=IB

r14[0]=IB
